.banner {
  .banner__container {
    .text__banner {
      font-family: "Times New Roman", Times, serif;
      font-style: italic;
    }
    .info__banner {
      margin-top: 24px;
      .info__wrapper {
        width: 9rem;
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        margin-right: 12px;
        &:nth-child(2) {
          background-color: #f5f5f5;
        }
        h4 {
          font-weight: 700;
          font-size: 1.2rem;
          margin-bottom: 8px;
        }
        span {
          font-size: 0.9rem;
          color: #777;
        }
      }
    }
    .banner__images {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        width: 30rem;
        height: 18rem;
        border-radius: 12% 30% 5% 50% / 30% 8% 25% 70%;
        background-color: white;
        top: 30%;
        left: 0;
        z-index: 1;
        filter: blur(80px);
      }
    }
  }
}
