//responsive
//active
* {
  scroll-behavior: smooth;
}
.item__nav.active {
  font-weight: 500;
  color: #ef4444;
  background-color: white;
}
.item__home {
  position: relative;
}
.item__home:hover > .hover__home {
  opacity: 1;
  transition: all ease-in-out 0.4s;
  transform: translateY(0);
  position: absolute;
  visibility: unset;
}
.hover__home {
  width: 500px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.65);
  transition: all ease 0.2s;
  position: absolute;
  visibility: hidden;
  transform: translateY(5%);
  opacity: 0;
  z-index: 120;
}

// prodcuts
.item__products {
  position: relative;
}
.item__products:hover > .hover__products {
  opacity: 1;
  transform: translateY(0);
  visibility: unset;
}
.hover__products {
  width: 500px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.65);
  transition: all ease-in-out 0.2s;
  position: absolute;
  transform: translateY(5%);
  visibility: hidden;
  top: 60px;
  left: 0px;
  opacity: 0;
  z-index: 120;
}
.item__icon {
  margin-left: 8px;
}
.item__home:hover > .item__icon,
.item__products:hover > .item__icon {
  color: red;
  transform: rotate(360deg);
}
